<?php

/**
 * This file is part of the Sandbox application.
 *
 * Copyright (c) Cubiche
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
use Cubiche\Tests\Report\Coverage\Custom;

// Code coverage setup
$coverageHtmlField = new Custom('Sandbox', '/var/www/coverage', __DIR__.'/src/');
$coverageHtmlField->setRootUrl('http://coverage.sandbox.local');

$script
    ->addDefaultReport()
    ->addField($coverageHtmlField)
;