/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
.atoum.html.php
.atoum.config.php

*.DS_Store
.idea