
<!-- Following Menu -->
<div class="ui large top fixed menu transition visible inverted segment">
    <div class="ui container">
        <a class="item" href="/">Home</a>
        <div class="right menu">
            <div class="item">
                {{ company.name }}
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left">
    <a class="item" href="/">Home</a>
</div>